body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gold;
}
bruh{
    background-color: aqua;
    color: lightskyblue;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.aka{
    position: fixed;
    color: crimson;
    background-color: darkred;
  bottom:0;
  width: 100%;
  font-size:35px;
  line-height: 3;
  font-family: 'Tangerine', cursive;
}